# tensorflow model building files
neural_network/

# vscode configurations
**/.vscode

# compiled python files
**/__pycache__

# tensorflow save model object
**/my_model

# python environments >> find needed libraries in their respective folders
python_environments/