// theme colors
$primaryColor: #42b983;
$secondaryColor: white;

$layoutPrimary: #2c3e50;
$layoutSecondary: #D3D3D3;

// loading screen spacings
$topSpacing: 15em;
$messageSpacing: 3em;

// form spacing
$topForm: 5em;
$headInputSpace: 3em;
